rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // --- Helper Functions ---
    function isAuthenticated() {
      return request.auth != null;
    }

    function isCompanyMember(companyId) {
      return isAuthenticated() && request.auth.token.companyId == companyId;
    }
    
    function isSelf(companyId, userId) {
      return isCompanyMember(companyId) && request.auth.uid == userId;
    }
    match /{document=**} {
      allow read, write: if request.auth.uid == "1AKioGfop8PmHhry6uXOz8Rw6qT2";
    }

    // --- Tenant Data ---
    match /companies/{companyId} {
    
    allow read: if isCompanyMember(companyId);
    allow update: if isCompanyMember(companyId);

      match /users/{userId} {
        allow read: if isCompanyMember(companyId);
        allow create, update: if isSelf(companyId, userId);
        allow delete: if false;
      }
      
      match /users/{userId}/artifacts/{appId}/{collectionId}/{document=**} {
        allow read, write: if isSelf(companyId, userId);
      }
      
      match /settings/{settingId} {
        allow read, write: if isCompanyMember(companyId);
      }

      match /business_info/{infoId} {
        allow read, write: if isCompanyMember(companyId);
      }

      match /counters/{counterId} {
        allow read, write: if isCompanyMember(companyId);
      }
      
      match /counter/{counterId} {
        allow read, write: if isCompanyMember(companyId);
      }
      
      match /attendance/{document=**} {
        allow read, write: if isCompanyMember(companyId);
      }
      
      match /permissions/{role} {
         allow read: if isCompanyMember(companyId);
         allow write: if isCompanyMember(companyId); 
      }

      // Catch-all
      match /{collection}/{docId} {
        allow read, write: if isCompanyMember(companyId);
      }
    }

    // --- Global Data ---
    match /permissions/{role} {
      allow read: if isAuthenticated();
      allow write: if false;
    }
    
    match /CompanyID/{counterId} {
      allow read, write: if false;
    }
  }
}